body {
    background: #000;
}

#tap-radiation {
    position: absolute;
    height: 1px;
    width: 1px;
    border: 0px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;

}

#magic-ball-background {
    position: absolute;
    margin-left: 50%;
    top: 120px;
    left: -480px;
    background-color: #000;
    border-radius: 50%;
    height: 960px;
    width: 960px;
    background: radial-gradient(circle at 250px 250px, #424242, #000);
}

#magic-ball {
    position: absolute;
    margin-left: 50%;
    top: 120px;
    left: -480px;
    background-color: #000;
    border-radius: 50%;
    height: 960px;
    width: 960px;
}

.magic-ball__1 {
    transition: opacity 7s ease;
    opacity: 0;
    background: radial-gradient(circle at 290px 290px, #ff6000, #000);
    box-shadow: 0px 0px 300px -36px #9a9aff;
}
.magic-ball__2 {
    transition: opacity 4s cubic-bezier(0.7, 0.01, .8, 1);
    opacity: 1;
    background: radial-gradient(circle at 290px 290px, #ff6000, #000);
    box-shadow: 0px 0px 300px -36px #9a9aff;
}

#ball-view {
    position: absolute;
    top: 380px;
    left: -197px;
    margin-left: 50%;
    background-color: #000;
    border-radius: 50%;
    border: 40px solid #282828;
    height: 360px;
    width: 360px;
    opacity: .5;
    box-shadow: inset -4px 4px 8px #565656,
                inset 4px -4px 8px #565656,
                inset -4px -4px 8px #565656,
                inset 4px 4px 8px #565656;
}

figure {
    position: absolute;
    }

.triangle {
    border-color: transparent transparent rgba(145, 145, 255, .25);
    border-width: 0 118px 214px;
    border-style: solid;
    }

#tetrahedron {
    position: absolute;
    top: 438px;
    left: -132px;
    margin-left: 50%;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateZ(0deg) rotateY(0deg) rotateX(-15deg);
    }

.tetrahedron__active {
    animation: flipTerahedron 6s cubic-bezier(0.85, 0.01, .25, 1);
}

#text {
    position: relative;
    top: 72px;
    left: 3px;
    text-align: center;
    font-family: "Times New Roman";
    color: #fff;
    transform-style: preserve-3d;
    transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
}
.text__active {
    animation: flipText 6s cubic-bezier(0.85, 0.01, .25, 1);
}

#perp-text {
    position: absolute;
    top: 98px;
    left: 135px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    transform-style: preserve-3d;
    transform: rotateZ(0deg) rotateY(90deg) rotateX(0deg);
}
.perp-text__active {
    animation: perp-flipText 6s cubic-bezier(0.85, 0.01, .25, 1);
}

p.intro {
    margin-top: 10px;
    font-size: 158px;
}
p.answer {
    margin-top: 0px;
    font-size: 26px;
}

#tetrahedron figure {
    height: 216px;
    }

#tetrahedron .front {
    transform: rotateX(19.5deg);
    transform-origin: 50% 0 0;
    }

#tetrahedron .bottom {
    transform: rotateX(90deg) translateY(-35px) translateZ(-96px);
    transform-origin: 0% 100% 0%;
    }

#tetrahedron .left {
    transform: translateX(0) rotateY(60deg) rotateX(-19.5deg);
    transform-origin: 50% 0 0;
    }

#tetrahedron .right {
    transform: translateX(0) rotateY(-60deg) rotateX(-19.5deg);
    transform-origin: 50% 0 0;
    }

@keyframes flipTerahedron {
    to { transform: rotateZ(1800deg) rotateY(3600deg) rotateX(10785deg); }
    }

@keyframes flipText {
    to { transform: rotateZ(1800deg) rotateY(3600deg) rotateX(10800deg); }
    }

@keyframes perp-flipText {
    to { transform: rotateZ(10800deg) rotateY(3690deg) rotateX(-1800deg); }
    }

@keyframes radiate {
    from { opacity: 1; }
    to { transform: scaleX(100) scaleY(100);
    opacity: 0; }
}
